.side-menu-container {
  height: 100vh;
  z-index: 1;
  direction: rtl;
  width: 16.5%;
}
.sider-content-wraper {
  direction: ltr;
}
.side-menu-logo-container {
  display: flex;
  height: 8vh;
  background-color: #fff;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}
.side-menu-logo-container > img {
  height: 56px;
}

.side-menu-data-list-main {
  display: flex;
  overflow-y: scroll;
  height: 82vh;
  padding: 0px 15px;
  background-color: #fff;
}

.side-menu-data-list-main::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.side-menu-ul {
  width: 100%;
}
.side-menu-list-item {
  list-style: none;
  margin-top: 10px;
  width: 100%;
}
.side-menu-active-page {
  width: 100% !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #0d0d0c !important;
  justify-content: flex-start !important;
  background-color: #faf0e8 !important;
  height: 48px !important;
  font-family: "Poppins" !important;
}
.side-menu-page {
  width: 100% !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #0D0D0C !important;
  justify-content: flex-start !important;
  background-color: transparent !important;
  height: 48px !important;
  border-radius: 15px !important;
  font-family: "Poppins" !important;
}
.side-menu-page:hover {
  color: #f7801a !important;
}
.side-menu-page-title {
  margin-left: 10px;
}
.side-menu-footer-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  background-color: #fff;
}
/* ----------------------------> <----------------------------- */
/* .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    background-color: #F7801A !important;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 0px !important;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 16px;
    min-height: 16px;
    max-width: calc(20% - 32px) !important;
    max-height: calc(100% - 32px);
    outline: 0;
    left: 16.5% !important;
  }
  
  .css-1dmzujt {
    background-color: #F7801A !important;
    max-width: calc(20% - 32px) !important;
    left: 16.5% !important;
  } */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #34c759;
}

input:focus + .slider {
  box-shadow: 0 0 1px #34c759;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.header-online {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-online > p {
  color: #000000;
  font-family: "Switzer-Regular";
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
}
@media only screen and (max-width: 1500px) {
  .side-menu-footer-container {
    padding: 0px 5px;
  }

  .side-menu-data-list-main {
    display: flex;
    overflow-y: scroll;
    padding: 0px 0px;
  }

  .side-menu-page {
    font-size: 14px !important;
    line-height: 19px !important;
  }

  .side-menu-page-title {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 1199px) {
  .side-menu-footer-container {
    padding: 0px 20px;
  }

  .side-menu-data-list-main {
    display: flex;
    overflow-y: scroll;
    height: 77vh;
    padding: 0px 20px;
  }

  .side-menu-page {
    font-size: 16px !important;
  }

  .side-menu-page-title {
    margin-left: 10px;
  }
}
