.business-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.business-mode-logo {
  height: 142px;
}
.business-mode-heading {
  color: #16151c;
  font-family: "Lexend";
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}
.business-mode-text {
  color: #a2a1a8;
  font-family: "Lexend";
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}
.background-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.Text-buton{
  height: 100% !important;
  width: 100% !important;
}

/* .isPdf{
  display: none !important;
  height: 100% !important;
  width: 100% !important;

/* } */
  

/* index.css */
.confirm-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.confirm-button:hover {
  background-color: #0056b3;
}


.main-content {
  position: relative;
  z-index: 2;
}