.react-pdf__Page__canvas{
    height: 100% !important;
    width: 100% !important;
}
.react-pdf__Page{
    height: 100% !important;
    width: 100% !important;
}
.react-pdf__Page__textContent {
    height: 100% !important;
    width: 100% !important;
}